*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:rgb(168, 149, 149)  ;
    font-family: sans-serif;
    /* rgb(250, 230, 213) */
}

@keyframes fade {
    0% {
      opacity: 1;
    }
  50% {
  opacity: 0.5;
}
  100% {
    opacity: 1;
  }
}

.logo {
  animation: fade 3s ease-in-out infinite;
}

/*CSS do Menu*/
.menu {
    display:flex;
    position: fixed;
    top: 0;
    background-color: #2b2929;
    padding-top: 120px;
    width: 100%;
}

.menu a {
    font-size: 20px;
    text-decoration: 10px;
    color: #ffffff;
}

.logo{
    position: fixed;
    top: 0;
    left: 0;
    height: 130px;
    width: 170px;
}

.home{
    margin-left: 275px;
    position: fixed;
    top: 0; /* Define a distância do topo da tela */
    left: 0; /*Define a distância da direita da tela*/
    margin-top: 50px; 
    
}

#homeImg{
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 50px;
    margin-left: 245px;
    background-color: #2b2929;
}

.logout {
    position: fixed;
    top: 0; /* Define a distância do topo da tela */
    right: 0; /*Define a distância da direita da tela*/
    align-items: center;
    margin-top: 55px; 
    margin-right: 100px;
}

.logoutImg{
    margin-top: 50px;
    position: fixed;
    top: 0; /* Define a distância do topo da tela*/  
    right: 170px; /* Define a distância da direita da tela*/
    background-color: #2b2b2b;
}

/*CSS do corpo*/
.primary-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.primary-container p {
    font-size: 20px;
}



/*Primeiro Bloco*/

.bloco1{
    margin-top: 200px;
    margin-right: 100px;
}

.triagem{
    border-radius: 10px;
    background-color: rgb(250, 230, 213);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .7);
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.5s;
    transition: 0.5s;
}

.triagem p {
    margin-left: 110px;
}

.triagem:hover {
    background-color: rgb(231, 208, 187);
    font-size: 20px;
}

.cadastro{
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(250, 230, 213);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .7);
    cursor: pointer;
    padding: 10px;
    margin-top: 50px;
    transition: background-color 0.5s;
    transition: 0.5s;
}

.cadastro p {
    margin-left: 110px;
}

.cadastro:hover {
    background-color: rgb(231, 208, 187);
    font-size: 20px;
}

/*Segundo Bloco*/

.bloco2{
    margin-top: 200px;
    margin-left: 100px;
}

.cumprimento{
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(250, 230, 213);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .7);
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.5s;
    transition: 0.5s;
}

.cumprimento p {
    margin-left: 90px;
}

.cumprimento:hover {
    background-color: rgb(231, 208, 187);
    font-size: 20px;
}

.qualidade{
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(250, 230, 213);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .7);
    cursor: pointer;
    padding: 10px;
    margin-top: 50px;
    transition: background-color 0.5s;
    transition: 0.5s;
}

.qualidade p {
    margin-left: 100px;
}

.qualidade:hover {
    background-color: rgb(231, 208, 187);
    font-size: 20px;
}

/*Terceiro Bloco*/
.bloco3{
    cursor: pointer;
    margin-top: 100px;
}

.pagamentos{
    justify-content: center;
    align-items: center;
    background-color: rgb(250, 230, 213);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .7);
    padding: 10px;
    border-radius: 10px;
    transition: background-color 0.5s;
    transition: 0.5s;
}

.pagamentos p {
    margin-left: 100px;
}

.pagamentos:hover {
    background-color: rgb(231, 208, 187);
    font-size: 20px;
}




/* html {
    min-height: 100%;
    background-image: url("../imagens/14089312_1431960856819058_6987945371316876619_n.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
 }  */



 
 
 
 
 
 
 
 
 

