* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;

}

body {
    background-color: #ffffff;

}

.grid-form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;
    margin-top: -60px;
}

.campo {
    margin-bottom: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    padding: 5px;
}

label {
    font-weight: bold;
    padding-bottom: 7px;
    max-width: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

input {
    width: 220px;
    padding-top: 3.8px;
}

select {
    width: 220px;
    padding-top: 3.8px;
}



/* Estruturas das DIVS*/
.menu {
    display:flex;
    position: fixed;
    top: 0;
    background-color: #2b2929;
    padding-top: 120px;
    width: 100%;
}

.menu a {
    font-size: 20px;
    text-decoration: 10px;
    color: #ffffff;
}

.logo{
    position: fixed;
    top: 0;
    left: 0;
    height: 130px;
    width: 170px;
}

@keyframes fade {
    0% {
      opacity: 1;
    }
  50% {
  opacity: 0.5;
}
  100% {
    opacity: 1;
  }
}

.logo {
  animation: fade 3s ease-in-out infinite;
}

.home{
    margin-left: 275px;
    position: fixed;
    top: 0; /* Define a distância do topo da tela */
    left: 0; /*Define a distância da direita da tela*/
    margin-top: 50px; 
    
}

#homeImg{
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 50px;
    margin-left: 245px;
    background-color: #2b2929;
}

.logout {
    position: fixed;
    top: 0; /* Define a distância do topo da tela */
    right: 0; /*Define a distância da direita da tela*/
    align-items: center;
    margin-top: 55px; 
    margin-right: 100px;
}

.logoutImg{
    margin-top: 50px;
    position: fixed;
    top: 0; /* Define a distância do topo da tela*/  
    right: 170px; /* Define a distância da direita da tela*/
    background-color: #2b2b2b;
}

/*butãos*/

.buttons{
    margin: 10px 10px;
    border-radius: 50px;
    margin-bottom: 15px;
    margin-top: 20px;
    margin-left: 1100px;
}

#botaonovatriagem {
    margin: 10px 10px;
    margin-top: 150px;
    margin-bottom: 100px;
    margin-left: 95px;
    padding: 5px;
    font-weight: bold;
}

#determinacaojudicial{
    width: 40px;
}

#caixa-liminar{
    width: 190px;
}

#valormulta{
    width: 140px;
}

#valormultalimite{
    width: 150px;
}

#caixa-multa{
    width: 90px;
    font-size: 15px;
}

#caixa-recebido{
    width: 90px;
    font-size: 15px;
}

#caixa-justica{
    width: 130px;
    font-size: 15px;
}

#datadapublicacao{
    width: 150px;
}

#caixa-prazo{
    width: 150px;
}

#caixa-jud{
    width: 130px;
}

#data-principal {
    margin-left: 20pc;
    margin-top: 20px;
    display: flex;
}

.data-treinamento {
    margin-left: 89px;
}

#opcoes {
    margin-left: 20pc;
    margin-top: 20px;
    display: flex;
}

.justica {
    margin-left: 198px;
}

#autor-liminar {
    margin-left: 20pc;
    margin-top: 20px;
    display: flex;
}

.situacao {
    margin-left: 154px;
}

#obrigacao-valor {
    margin-left: 20pc;
    margin-top: 20px;
    display: flex;
}

.valor-multa {
    margin-left: 44px;
}

#valor-tipo {
    margin-left: 20pc;
    margin-top: 20px;
    display: flex;
}

.tipo-multa {
    margin-left: 105px;
}

#determinacao-prazo {
    margin-left: 20pc;
    margin-top: 20px;
    display: flex;
}

.prazo-final {
    margin-left: 20px;
}

#f-processo {
    margin: 65px 0px 40px 33pc;
}

#f-container{
    display: none;
}