*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;

}

body{
    background-color: #ffffff;
}

@keyframes fade {
    0% {
      opacity: 1;
    }
  50% {
  opacity: 0.5;
}
  100% {
    opacity: 1;
  }
}

.logo {
    animation: fade 3s ease-in-out infinite;
  }

.menu {
    display:flex;
    position: fixed;
    top: 0;
    background-color: #2b2929;
    padding-top: 120px;
    width: 100%;
}

.menu a {
    font-size: 20px;
    text-decoration: 10px;
    color: #ffffff;
}

.logo{
    position: fixed;
    top: 0;
    left: 0;
    height: 130px;
    width: 170px;
}

.home{
    margin-left: 280px;
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 50px;
}

#homeImg{
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 50px;
    margin-left: 245px;
    background-color: #2b2929;
}

 .logout {
    position: fixed;
    top: 0;
    right: 0;
    align-items: center;
    margin-top: 50px; 
    margin-right: 100px;
}

.logoutImg{
    margin-top: 52px;
    position: fixed;
    top: 0;
    right: 170px;
    background-color: #2b2929;
}

#f-container{
    display: none;
    /* margin-top: -80px; */
}

#pesquisarProcesso{
    cursor: pointer;
    margin-top: 150px;
    margin-bottom: 0px;
    margin-left: 10px;
    padding: 5px;
    font-weight: bold;
}

#f-container2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -961px;
    margin-right: -300px;
    margin-left: 350px;
}

#text-date{
    color: white; 
    position: fixed;
    top: 0;
    right: 0;
    margin-top: 95px;
    margin-right: 50px;
}


/* Campos */

.grid-form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.campo {
    margin-bottom: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    padding: 2px;
}

#determinacaoJud{
    width: 40px;
}

#emailsalesforce{
    width: 100px;
}

#escritoriotriagem{
    width: 105px;
}

#tipodedecisao{
    width: 101px;
}

#procedimento{
    width: 140px;
}

#caixadiretoria{
    width: 100px;
}

#caixacumprimento{
    width: 90px;
}

#valormulta{
    width: 110px;
}

#valormultalimite{
    width: 140px;
}

#datadapublicacao{
    width: 170px;
}

#datadobcc{
    width: 100px;
}

#datadoingresso{
    width: 150px;
}

#prazoFatal{
    width: 140px;
}

#qtfdeobf{
    width: 70px;
}

#farol{
    width: 70px;
}

#cpfcnpj{
    width: 120px;
}

#statusdocumprimento{
    width: 100px;
}

label {
    font-weight: bold;
    padding-bottom: 1px;
    max-width: 300px;
}

input {
    width: 220px;
    padding-top: 3.8px;
}

select {
    width: 220px;
    padding-top: 3.8px;
}

.buttons{
    margin: 10px 10px;
    border-radius: 50px;
    margin-bottom: 15px;
    margin-top: 20px;
    margin-left: 1120px;
}

#botaonovocumprimento {
    margin: 10px 10px;
    margin-top: 150px;
    margin-bottom: 100px;
    margin-left: 95px;
    padding: 5px;
    font-weight: bold;
}