*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

body{
    background-color: #ccc;
}
/* Estruturas das DIVS*/
.conteiner{    
    border: 1px solid black;
    width: 100%;
    height: 70px;
    display: inline-flex;
    padding: 12px 20px 12px 25px;
    border-left: 20px;
    background-color: black;
}

.box-conteiner{
    color: antiquewhite;
    text-align: center;
    font-size: 19px;
    padding-top: 20px;
    padding-left: 30pc;
}

.box-conteiner h3{
    transition:  0.5s;
}
/*Animações*/
.box-conteiner h3:hover{
    color: #ccc;
}

img{
    margin-bottom: 15px;
    padding-bottom: 2px;
    width: 100px;
    border: 1px solid black;
    border-radius: 20px;
}

#formularios{
    border: 10px;
    margin-top: 10pc;
    justify-items: center;
    
}

#buttons{
    border-radius: 8px;
    box-shadow: none;
    font-family: Arial, Helvetica, sans-serif;
}

.nova{
    font-size: 15px;
    margin: 15px 0px 0px 80px;
    display: block;
    transition: 0.3s;
}

.nova:hover{
    background-color: rgb(113, 124, 135);
}


/*formularios em si */

.f-processo{
    margin: 20px 10pc 10px 5px;
}

#fro{
    padding: 10px 10px;
    display: contents;
}

/*primeira parte*/
.nuji{
    margin: 5px 5pc ;
}