* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    justify-items: center;
}

body {
    background-color: #ccc;
    
}

/* Estruturas das DIVS*/
.conteiner {
    border: 1px solid black;
    width: 83pc;
    height: 70px;
    display: inline-flex;
    padding: 12px 20px 12px 25px;
    border-left: 20px;
    background-color: black;
}

.box-conteiner {
    color: antiquewhite;
    text-align: center;
    font-size: 19px;
    padding-top: 20px;
    padding-left: 31pc;
}

.box-conteiner h3 {
    transition: 0.5s;
}

/*Animações*/
.box-conteiner h3:hover {
    color: #ccc;
}


img {
    margin-bottom: 15px;
    padding-bottom: 2px;
    width: 100px;
    border: 1px solid black;
    border-radius: 20px;
}


/*butãos*/

#f-buttons{
    margin-top: 6pc;
    margin-left: 60pc;
}

#button-novatriagem{
    margin-left: 3pc;
}

.button-nova{
    border-radius: 10px;
    border: 1px solid black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition: 0.2s;
}

.buttons{
    border-radius: 10px;
    border: 1px solid black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition: 0.2s;
}

.button-nova:hover{
    background-color: #534932;
}

.buttons:hover{
    background-color: #534932;
}

/*FORMULÁRIO*/

#f-processo{
    margin-left: 34pc;
    margin-bottom: 40px;
    margin-top: 30px;
}

#data-principal{
    margin-left: 20pc;
    margin-top: 20px;
    display: flex;
}

.data-treinamento{
    margin-left: 125px;    
}

/*EXEMPLO ONE*/
#opcoes{
    margin-left: 20pc;
    margin-top: 20px;
    display: flex;
}

.justica{
    margin-left: 230px;
}



#autor-liminar{
    margin-left: 20pc;
    margin-top: 20px;
    display: flex;
}

.situacao{
    margin-left: 190px;
}

#obrigacao-valor{
    margin-left: 20pc;
    margin-top: 20px;
    display: flex;
}

.valor-multa{
    margin-left: 79px;
}

#valor-tipo{
    margin-left: 20pc;
    margin-top: 20px;
    display: flex;
}

.tipo-multa{
    margin-left: 140px;
}

#determinacao-prazo{
    margin-left: 20pc;
    margin-top: 20px;
    display: flex;
}

.prazo-final{
    margin-left: 53px;
}


#box-form{
    margin-top: 40px;
    border: 1px solid black;
    width: 100%;
    padding: 20px 20px;
    background-color: bisque;
}